<div id="container3" class="cont">
    <h1>Sortowanie i formatowanie </h1><br><br>
    <h2>Sortowanie</h2>
    Sortowanie dla 3 różnych prób, powtórzone 1000 razy <br><br><br>
    <li>proba licząca 10 wylosowanych liczb w tablicy</li> 
    <p id="prob10" class="prob" #prob10></p>
    <li>proba licząca 100 wylosowanych liczb w tablicy</li>
    <p id="prob100" class="prob" #prob100></p>
    <li>proba licząca 1000 wylosowanych liczb w tablicy</li>
    <p id="prob10000" class="prob" #prob10000></p>
    <br><h2>Formatowanie</h2>
    <div id='formatowanie' #formatowanie></div>
    <br><br> Czas formatowania tabeli <br><br>
    <div id="czasFormatowania" #czasFormatowania></div>
    <a href="#container4">
        <div class="arrow">
            <p class="arrow-para">V</p>
        </div>
    </a>
</div>
